<tui-island class="island">
  <div class="tui-island__content">
    <figure class="tui-island__figure">
      <tui-marker-icon
        mode="primary"
        class="tui-space_right-2"
        src="tuiIconBellLarge"
      >
      </tui-marker-icon>
    </figure>
    <div>
      <h3 class="tui-island__title title">
        Выход за&nbsp;рамки- и&nbsp;взрываем звезды
      </h3>
      <p class="tui-island__paragraph paragraph">
        Теперь маленький квадрат: у&nbsp;него размер 120&times;120, а&nbsp;круг
        внутри желтый, радиусом 30px и&nbsp;строго по&nbsp;центру. Здесь нам
        фактически не&nbsp;нужна сама рамка, только центральная
        плитка&nbsp;&mdash; аналог фона.
      </p>
    </div>
  </div>
</tui-island>
