<tui-island class="page-island">
  <div class="tui-island__content ">
  <figure class="tui-island__figure">
    <tui-marker-icon
      mode="primary"
      class="tui-space_right-2"
      src="tuiIconBellLarge"
    >
    </tui-marker-icon>
  </figure>
  <div>
    <h3 class="tui-island__title page-island__heading">Авторизация — это безопасно</h3>
    <p class="tui-island__paragraph page-island__paragraph">
      Тинькофф Банк не&nbsp;получает доступ к&nbsp;вашему счету&nbsp;&mdash; как если&nbsp;бы вы&nbsp;сходили в&nbsp;отделение банка за&nbsp;выпиской и&nbsp;загрузили ее&nbsp;в&nbsp;личный кабинет Тинькофф
    </p>
  </div>
</div>
</tui-island>
